html,
body {
	padding: 0;
	margin: 0;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 27px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark ) {
  html {
    color-scheme: dark;
  }
  body {
  }
}

@media (max-width: 480px) {

}
