html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
	background-image: url(/04-zkapp-browser-ui/_next/static/media/bg.09c870d5.png);
	font-family:Comic sans MS;
	font-size: 27px;
    color: black;
	position: relative; 
	background-size: cover;
	height: auto;
	width: auto;
  }
}



.Home_container__bCOhY {
  padding: 0 2rem;
}

.Home_main__nLjiQ {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home_footer____T7K {
  display: flex;
  flex: 1 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.Home_footer____T7K a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.Home_title__T09hD a {
  color: #0070f3;
  text-decoration: none;
}

.Home_title__T09hD a:hover,
.Home_title__T09hD a:focus,
.Home_title__T09hD a:active {
  text-decoration: underline;
}

.Home_title__T09hD {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.Home_title__T09hD,
.Home_description__41Owk {
  text-align: center;
}

.Home_description__41Owk {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.Home_code__suPER {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.Home_grid__GxQ85 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.Home_card___LpL1 {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.Home_card___LpL1:hover,
.Home_card___LpL1:focus,
.Home_card___LpL1:active {
  color: #0070f3;
  border-color: #0070f3;
}

.Home_card___LpL1 h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.Home_card___LpL1 p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.Home_logo__27_tb {
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/icon.52d3bd3f.png);
	height: 50px;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	margin-left: 85px;

}

.Home_homepage__o_ei3 {
	display: block;
	width: auto;
	height: auto;
}

.Home_homepageImg__fcRDd {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/homepageImg.423e3856.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 590px;
	height: 480px;

}

.Home_connectBtn__q4_OB {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn1.cbf22e1a.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 46%;
	top: 60%;
}

.Home_connectBtn__q4_OB:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn2.f4587791.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 46%;
	top: 60%;
}

.Home_connectBtn__q4_OB:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn3.4f145165.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 46%;
	top: 60%;
}

.Home_loadingBtn__vAScy {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/loadingBtn.7e7af154.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 46%;
	top: 60%;
}

.Home_sendBtn__F6hw6 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn1.d207f18a.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 36%;
	top: 60%;
}

.Home_sendBtn__F6hw6:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn2.6711dfb9.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 36%;
	top: 60%;
}

.Home_sendBtn__F6hw6:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn3.057ffe77.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 36%;
	top: 60%;
}

.Home_getBtn__h_3sY {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn1.979e12ff.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 56%;
	top: 60%;
}

.Home_getBtn__h_3sY:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn2.8c08e57d.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 56%;
	top: 60%;
}

.Home_getBtn__h_3sY:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn3.85cc6a55.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 110px;
	height: 50px;
	position: absolute;
	left: 56%;
	top: 60%;
}

@media (max-width: 600px) {
  .Home_grid__GxQ85 {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .Home_card___LpL1,
  .Home_footer____T7K {
    border-color: #222;
  }
  .Home_code__suPER {
    background: #111;
  }
  .Home_logo__27_tb img {
  }
   
  
}

