html,
body {
	padding: 0;
	margin: 0;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/bg.3d486008.png);

	font-family: "Comic Sans MS";
	font-size: 27px;
	background-size: cover;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark ) {
  html {
    color-scheme: dark;
  }
  body {
  }
}

@media (max-width: 480px) {

}

.Home_container__bCOhY {
  padding: 0 2rem;
}

.Home_main__nLjiQ {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.Home_footer____T7K {
  display: flex;

  
}

.Home_footerbg__XmJ88 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/footer.663488b0.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 520px;
	height: 145px;
	position: absolute;
	left: 200px;
	top: 560px;
}

.Home_blank__VvP8P {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/footer.663488b0.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 520px;
	height: 145px;
	position: absolute;
	left: 200px;
	top: 600px;
}

.Home_title__T09hD a {
  color: #0070f3;
  text-decoration: none;
}

.Home_title__T09hD a:hover,
.Home_title__T09hD a:focus,
.Home_title__T09hD a:active {
  text-decoration: underline;
}

.Home_title__T09hD {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.Home_title__T09hD,
.Home_description__41Owk {
  text-align: center;
}

.Home_description__41Owk {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.Home_code__suPER {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.Home_grid__GxQ85 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.Home_card___LpL1 {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.Home_card___LpL1:hover,
.Home_card___LpL1:focus,
.Home_card___LpL1:active {
  color: #0070f3;
  border-color: #0070f3;
}

.Home_card___LpL1 h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.Home_card___LpL1 p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.Home_logo__27_tb {
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/icon.52d3bd3f.png);
	height: 50px;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	margin-left: 85px;

}

.Home_homepage__o_ei3 {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
	transform: scale(1);
}

.Home_homepageImg__fcRDd {
	display: block;
	display: flex;
	background-size: cover;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/homepageImg.2345b642.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 608px;
	height: 500px;
}

.Home_banner__WnS5R {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/banner.a6508acc.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 420px;
	height: 142px;
	position: absolute;
	left: 250px;
	top: 150px;
}

.Home_banner2__nEGJg {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/banner2.b6e212ad.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 70px;
	position: absolute;
	left: 335px;
	top: 310px;
}

.Home_connectBtn__q4_OB {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn1.cbf22e1a.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.Home_connectBtn__q4_OB:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn2.f4587791.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.Home_connectBtn__q4_OB:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/connectBtn3.3392c4ca.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.Home_loadingBtn__vAScy {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/loadingBtn.7e7af154.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 380px;
	top: 450px;
}

.Home_loading__IsZ5F {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/loading.fc807d4d.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 305px;
	top: 50px;
}

.Home_getLoading__Ml8Nf {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getLoading.fc807d4d.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 280px;
	height: 280px;
	position: absolute;
	left: 315px;
	top: 150px;
}

.Home_sendLoading__Zkd01 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getLoading.fc807d4d.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 250px;
	position: absolute;
	left: 330px;
	top: 110px;
}

.Home_sendCheck__xMz4p {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/check.98473459.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 43px;
	height: 35px;
	position: absolute;
	left: 295px;
	top: 325px;
}

.Home_sendDone__abENy {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/senddone.23da855b.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 120px;
	position: absolute;
	left: 330px;
	top: 170px;
}

.Home_caution__VEpHP {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/caution.c83a01cf.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 180px;
	height: 155px;
	position: absolute;
	left: 370px;
	top: 120px;
}

.Home_succes__k1IzW {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/succes.b807379f.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 180px;
	height: 180px;
	position: absolute;
	left: 370px;
	top: 120px;
}

.Home_statusTxt__dVex8 {
	display: block;
	position: absolute;
	left: 300px;
	top: 300px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_statusSendTxt___A48X {
	display: block;
	position: absolute;
	left: 340px;
	top: 320px;
	color: white;
	font-size: 18px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_walletLink__QYgFg {
	display: block;
	position: absolute;
	left: 390px;
	top: 370px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_walletTxt__aVJtU {
	display: block;
	position: absolute;
	left: 210px;
	top: 350px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_faucetTxt__R0HSg {
	display: block;
	position: absolute;
	left: 215px;
	top: 350px;
	color: white;
	font-size: 15px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_faucetHere__TRzkn {
	display: block;
	position: absolute;
	left: 390px;
	top: 370px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home_backNoAccount__s1McX {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn1.29dbb141.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_backNoAccount__s1McX:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn2.212c2793.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_backNoWallet__IBr_n {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn1.29dbb141.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_backNoWallet__IBr_n:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/backBtn2.212c2793.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 215px;
	top: 110px;
}

.Home_sendBtn__F6hw6 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn1.d207f18a.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.Home_sendBtn__F6hw6:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn2.6711dfb9.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.Home_sendBtn__F6hw6:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn3.057ffe77.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.Home_sendBtnDisable__6VyTK {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/sendBtn3.057ffe77.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 250px;
	top: 400px;
}

.Home_getBtn__h_3sY {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn1.979e12ff.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.Home_getBtn__h_3sY:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn2.8c08e57d.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.Home_getBtn__h_3sY:active {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn3.85cc6a55.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.Home_getBtnDisable__ASdt7 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/getBtn3.85cc6a55.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 73px;
	position: absolute;
	left: 510px;
	top: 400px;
}

.Home_txtState__XfTmO {
	display: block;
	position: absolute;
	left: 330px;
	top: 210px;
	color: white;
	font-size: 20px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_numState__RWB8u {
	display: block;
	position: absolute;
	left: 360px;
	top: 200px;
	color: white;
	font-size: 80px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_txtAddrs__0j0LW {
	display: block;
	position: absolute;
	left: 285px;
	top: 350px;
	color: white;
	font-size: 12px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_addrs__ciNE1 {
	display: block;
	position: absolute;
	left: 220px;
	top: 350px;
	color: white;
	font-size: 13px;
	text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Home_getscreen__MZw5Y{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
}

.Home_getscreenBlack__Krl3p {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/black.96836c7e.png);
	background-size: repeat;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
 transform: scale(1.5); /* you can change the value also */
   transform-origin: center;
}

.Home_getscreenImg__WMr9D {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/screen.f4c909ee.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 380px;
	height: 280px;
	position: absolute;
	left: 260px;
	top: 150px;
}

.Home_sendscreen__P9tsM{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	width: 900px;
	height: 600px;
}

.Home_sendscreenBlack__x7Fq9 {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/black.96836c7e.png);
	background-size: repeat;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
 transform: scale(1.5); /* you can change the value also */
   transform-origin: center;
}

.Home_sendscreenImg__5SKtV {
	display: block;
	display: flex;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/send.559e440b.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 330px;
	position: absolute;
	left: 250px;
	top: 100px;
}


.Home_closeGet__qG2td {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn1.3909fa5c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 590px;
	top: 150px;
}

.Home_closeGet__qG2td:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn2.ebb09cae.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 590px;
	top: 150px;
}

.Home_closeSend__b_1LB {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn1.3909fa5c.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 600px;
	top: 120px;
}

.Home_closeSend__b_1LB:hover {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/closeBtn2.ebb09cae.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 52px;
	position: absolute;
	left: 600px;
	top: 120px;
}

.Home_teleIcon__qLDZz {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/teleicon1.f641a4f9.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 280px;
	top: 600px;
}

.Home_dcIcon__DDy4R {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/dcicon1.ded72cba.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 380px;
	top: 600px;
}

.Home_fbIcon__HDaE7 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/fbicon1.83bf8b8d.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 480px;
	top: 600px;
}

.Home_gitIcon__L23x5 {
	display: block;
	background-image: url(/04-zkapp-browser-ui/_next/static/media/giticon1.a340f233.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 70px;
	position: absolute;
	left: 580px;
	top: 600px;
}


@media (max-width: 600px) {
  .Home_grid__GxQ85 {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .Home_card___LpL1,
  .Home_footer____T7K {
    border-color: #222;
  }
  .Home_code__suPER {
    background: #111;
  }
  .Home_logo__27_tb img {
  }
   
  
}

